*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;

}
html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
  min-width: 1140px;
  min-height: 534px;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 16px;
}

.search-form__label {
  width: fit-content;
  position: relative;
  padding: 1px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid #FFF;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
}

.search-form__textfield {
  min-width: 225px;
  background-color: transparent;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  border-left: none;
  border-right: none;
  padding-bottom: 3px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
}

.search-form__pseudo-checkbox input:checked+ .search-form__pseudo-checkbox:after {
  display: block;
}

.search-form__pseudo-checkbox:after  {
  content: " ";
  position: absolute;
  display: none;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox:after{
  display: block;
}

.search-form__label .search-form__pseudo-checkbox:after {
  position: relative;
  left: 1px;
  top: 1px;
  width: 15px;
  height: 15px;
  border: 2px solid #1b1919;
}

input[type='checkbox']:checked + span {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 19px;
  background-color: #FFF;
}

.search-form__label-text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.search-form__label input {
  cursor: pointer;
  margin-top: 4px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  letter-spacing: 1px;
}

.button:active {
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  height: 35px;
  margin-top: 19px;
}

.more-button {
  min-width: 399px;
  max-height: 34px;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 298px;
  overflow: auto;
}

.content__list::-webkit-scrollbar {
  width: 3px;
}

.content__list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.content__list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.content__list-item{
  margin: 5px;
}

.content__list-item:not(:first-child) {
  margin-top: 30px;
}

.content__card-link {
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration-line: underline;
  color: #FFF;
}

.content__card-link:focus-visible {
  display: block;
  outline: 1px solid #FFF;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80%;
}

.content__video-card-description {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  margin-top: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 78px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  max-height: 386px;

}

.result__video {
  min-width: inherit;
  max-height: inherit;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card:active{
  background: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

